<div class="form-row ">
	<div class="col-md-4 form-group">
		<ng-multiselect-dropdown class="form-control" 
			[placeholder]="'--Seleccione--'"
			[data]="idAutoLinea"
			[(ngModel)]="idAutoLineaSelected"
			[settings]="dropdownSettings"
			(onSelect)="onItemSelect($event)"
			>
		</ng-multiselect-dropdown>	
	</div>
	<div class="col-md-2 form-group">
		<button class="btn btn-primary btn-sm btn-block" type="button" (click)="save();">Guardar</button>
	</div>
	<div class="col-md-6 form-group"></div>
</div>
<div class="form-row">
	<div class="col-md-12">
		<dual-list 
			[sort]="keepSorted" 
			[source]="source" 
			[key]="key" 
			[display]="display" 
			[(destination)]="confirmed" 
			height="200px" 
			[format]="format" 
			[filter]= "true"
			[disabled]="disabled">
		</dual-list>
	</div>
</div>

