$topnav-background-color: #001f42;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    .navbar-toggler-custom {
      padding: 0.25rem 0.75rem;
      font-size: 1.25rem;
      line-height: 1;
      background: transparent;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
}
