#divTable {
    overflow-y:scroll;    
    font-size: 0.75rem !important;
    //height:115px;
    //width:500px;
}
/*#divTable table {
   //width:500px;
   background-color:lightgray;
}*/

/*input.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
}
input.ng-valid.ng-dirty {
    border-left: 5px solid #42A948;
}*/
.check {
    color: #42A948;
}
.uncheck {
    color: #a94442;
}