#divTable {
    overflow-y:scroll;
    font-size: 0.75rem !important;
    // height:130px;
}
.col-width-check {
    width: 3.00%;
  }
.col-width-numcuenta {
    width: 15.00%;
  }
.col-width-descripcion {
    width: 40.00%;
  }
.col-width-fecha {
    width: 10.00%;
  }  
.col-width-sat {
    width: 23.00%;
  }  
.col-width-acciones {
    width: 10.00%;
  }