<div class="card-body">
  <h5>Crear Nueva Cuenta</h5>

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Agencias / Sucursales</label>
        <ngx-dropdown-treeview
            [buttonClass]="buttonClass"
            [config]="config"
            [items]="items"
            (selectedChange)="onSelectedChange($event)">
        </ngx-dropdown-treeview>
      </div>
      <div class="form-group col-md-4">
        <label>Departamento</label>
        <select name="" class="form-control">
          <option value="0">UNIDADES NVAS. AUTOS</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>No. Cuenta</label>
        <input type="text" class="form-control" placeholder="0000-0000-0000-0000">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Descripción</label>
        <input type="text" class="form-control" placeholder="Descripción">
      </div>
      <div class="form-group col-md-4">
        <label>Naturaleza</label>
        <input type="text" class="form-control" placeholder="Naturaleza">
      </div>
      <div class="form-group col-md-4">
        <label>ACUMDET</label>
        <input type="text" class="form-control" placeholder="ACUMDET">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>GPO 1</label>
        <select name="" class="form-control">
          <option value="0">GPO 1</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>GPO 2</label>
        <select name="" class="form-control">
          <option value="0">GPO 2</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>GPO 3</label>
        <select name="" class="form-control">
          <option value="0">GPO 3</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Notas Dic</label>
        <select name="" class="form-control">
          <option value="0">Notas Dic</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Dictamen</label>
        <select name="" class="form-control">
          <option value="0">Dictamen</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>EF Interno</label>
        <select name="" class="form-control">
          <option value="0">EF Interno</option>
        </select>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
          <label>Notas Fin</label>
          <select name="" class="form-control">
            <option value="0">Notas Fin</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label>Tipo BI</label>
          <select name="" class="form-control">
            <option value="0">Tipo BI</option>
          </select>
        </div>
      </div>
  </form>

  <a routerLink='../select'>regresar</a>
</div>
