<table class="table table-bordered">
    <thead>
      <tr>
        <th class="bg-secondary text-white">NUM CUENTA</th>
        <th class="bg-secondary text-white">DESCRIPCIÓN</th>
        <th class="bg-secondary text-white">NATURALEZA</th>
        <th class="bg-secondary text-white">SUCURSAL</th>
        <th class="bg-secondary text-white">DEPARTAMENTO</th>
        <th class="bg-secondary text-white"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let cta of cuentas'>
        <td>{{ cta.NUM_CUENTA }}</td>
        <td>{{ cta.DESCRIPCION }}</td>
        <td>{{ cta.NATURALEZA }}</td>
        <td>{{ cta.SUCURSAL }}</td>
        <td>{{ cta.DEPARTAMENTO }}</td>
        <td><a routerLink='../edit'>Editar</a></td>
      </tr>
    </tbody>
  </table>
