<div>
  <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          Configuración de plantilla
        </div>
      </div>
  </div>
  <div class="card-body">
      <form>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0" >
                        Plantilla
                    </h5>
                </div>
                <div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputCompania">Compañia</label>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="form-group col-md-2"></div>
                            <div class="form-group col-md-2"></div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <div [ngClass]="{ErrorControl: selectedCompany.toString() === '0'}">
                                    <select name="inputCompania" class="form-control" [(ngModel)]="selectedCompany" (change)="onFileChanged(null)">
                                        <option value="0">--Seleccione--</option>
                                        <option *ngFor="let company of companies" [value]="company.id">
                                        {{ company.razonSocial }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4"></div>
                            <div class="form-group col-md-2"></div>
                            <div class="form-group col-md-2"></div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    Carga
                                </h5>
                            </div>
                            <div>
                                <div class="card-body col-md-12">
                                    <form method="POST" action="#" enctype="multipart/form-data">
                                        <div class="input-group input-file" name="Fichier1">
                                            <input type="text" name="name"  class="form-control" [ngClass]="{ErrorControl: !nameTemplate }" [(ngModel)]="nameTemplate" placeholder='Seleccione plantilla...' [readonly]="true"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-choose"   (click)="fileInput.click()" [disabled]="selectedBrand == 0">Select</button>
                                            </span>
                                            <div class="form-group col-md-2">
                                                <button type="button" class="btn btn-primary btn-sm btn-block"  id="submit" (click)='saveFile()' [disabled]="selectedBrand == 0">Guardar</button>
                                            </div>
                                        </div>
                                        <input id="fileUpload" style="display:none" type="file" name="fileUpload" (change)="onFileChanged($event.target.files[0])"  #fileInput accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    Configuración
                                </h5>
                            </div>
                            <div class="collapse show">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="col-md-4">
                                            <label for="inputHoja">Hoja</label>
                                        </div>
                                        <div class="form-group col-md-4"></div>
                                        <div class="form-group col-md-2"></div>
                                        <div class="form-group col-md-2"></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <select name="inputCompania" class="form-control" [(ngModel)]="selectedHoja" (change)="this.changeSheet();" [ngClass]="{ErrorControl: selectedHoja == 0}">
                                                <option value="0">--Seleccione--</option>
                                                <option *ngFor="let sheet of sheets" [value]="sheet.id">
                                                {{ sheet.sheet }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4"></div>
                                        <div class="form-group col-md-2">
                                                <!-- <button type="button" class="btn btn-primary btn-sm btn-block"  id="submit" (click)='consult()' [disabled]="selectedBrand == 0">Consultar</button> -->
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"  id="submit" (click)='saveConfigurationTemplate()' [disabled]="selectedBrand == 0 || selectedHoja == 0">Guardar</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <table class="table table-bordered">
                                            <!-- <table datatable class="table row-border hover"> -->
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th  class="text-center" scope="col">Nombre Etiqueta</th>
                                                        <th class="text-center" scope="col">Valor Etiqueta</th>
                                                        <th class="text-center" scope="col">Configuración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let rowTemplate of rowsTemplate; let i = index;">
                                                        <td> {{ i + 1 }}</td>
                                                        <td>{{rowTemplate.nameColumn}}</td>
                                                        <td class="col-md-6">    
                                                            <input class="form-control" type="text" [(ngModel)]="modelEtiqueta[rowTemplate.nameColumn][0].etiqueta" [ngClass]="{ErrorControl: !modelEtiqueta[rowTemplate.nameColumn][0].etiqueta }" name={{rowTemplate.nameColumn}} />
                                                        </td>
                                                        <td class="text-center">
                                                            <div style="cursor:pointer;" [ngStyle]="{'color': modelEtiqueta[rowTemplate.nameColumn][0].etiquetaDetalle ? 'green' : 'red' }" class="k-button k-button-icontext k-grid-" (click)="showModal(modalDetails,rowTemplate)">
                                                                <span class="fa fa-3x fa-arrow-circle-right text-default"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </form>
  </div>
</div>

<ng-template #modalDetails let-c="close" let-d="dismiss">
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-12">
                <div class="card-header text-center">
                    {{this.plantillaDetalle.ValorEtiqueta}}
                    <!-- <input type="hidden" formControlName="processingOrder" [ngModel]="i + 1"> -->

                </div>
                <!-- Large modal -->
                <div class="card-body">
                    <div class="container-fluid">
                        <!-- <div class="row">
                            <div class="col-md-3">
                                <label for="inputValorReporte">Valor etiqueta sugerido</label> 
                            </div>
                            <div class="col-md-3">
                                <label for="inputTipo">Tipo</label> 
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 2 || plantillaDetalle.idSeccionReporte == 4)">
                                <label for="inputTipo">Departamento</label> 
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 4)">
                                <label for="inputTipo">Clasificación</label> 
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte > 1)">
                                <label for="inputValorReporte">Ubicación del text</label> 
                            </div>
                        </div>  -->
                        <div class="row">
                            <div class="col-md-3">
                                    <label for="inputValorReporte">Valor etiqueta sugerido</label> 
                                <input type="text" name="valorReporte" class="form-control" [(ngModel)]="plantillaDetalle.valorEtiquetaDetalle" [ngClass]="{ErrorControl: !plantillaDetalle.valorEtiquetaDetalle}">
                            </div>
                            <div class="col-md-3">
                                    <label for="inputTipo">Tipo</label> 
                                <select name="inputClasificacion" class="form-control" [(ngModel)]="plantillaDetalle.idSeccionReporte" [ngClass]="{ErrorControl: plantillaDetalle.idSeccionReporte.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let tipoReporte of tipoReportes" [value]="tipoReporte.id">{{tipoReporte.Nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 4 || plantillaDetalle.idSeccionReporte == 3)">
                                <label for="inputTipoPeriodo">Tipo de periodo</label> 
                                <select name="inputClasificacion" class="form-control" [(ngModel)]="plantillaDetalle.idTipoPeriodo" [ngClass]="{ErrorControl: plantillaDetalle.idTipoPeriodo.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let tipoPerido of periodType" [value]="tipoPerido.id">{{tipoPerido.Nombre}}</option>
                                </select>
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 2 || plantillaDetalle.idSeccionReporte == 4)">
                                <label for="inputTipo">Departamento</label> 
                                <select name="inputDepartamentoUnidad" class="form-control" [(ngModel)]="plantillaDetalle.idOrigen" [ngClass]="{ErrorControl: plantillaDetalle.idOrigen.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let departmensUnit of departmentsUnit" [value]="departmensUnit.idOrigen">{{departmensUnit.descripcion}}</option>
                                </select>
                            </div>

                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 3)">
                                <label for="inputTipo">Departamento</label> 
                                <select name="inputDepartamento" class="form-control" [(ngModel)]="plantillaDetalle.idDepartamento" [ngClass]="{ErrorControl: plantillaDetalle.idDepartamento.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.descripcion}}</option>
                                </select>
                                <ng-multiselect-dropdown
                                    [placeholder]="'--Seleccione--'"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </div>

                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 4)">
                                <label for="inputTipo">Clasificación</label> 
                                <select name="inputDepartamentoUnidad" class="form-control" [(ngModel)]="plantillaDetalle.idClasificacionPlanta" [ngClass]="{ErrorControl: plantillaDetalle.idClasificacionPlanta.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let clasificacion of reporteClasificacion" [value]="clasificacion.id">{{clasificacion.clasificacion}}</option>
                                </select>
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte == 3)">
                                <label for="inputValorReporte">Concepto estado de resultado</label> 
                                <select name="inputUbicacion" class="form-control" [(ngModel)]="plantillaDetalle.idEstadoResultadosI" [ngClass]="{ErrorControl: plantillaDetalle.idEstadoResultadosI.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let concepto of conceptOfResults" [value]="concepto.idEstadoResultadosI">{{concepto.titulo}}</option>
                                </select>
                            </div>
                            <div class="col-md-3" [hidden]="!(plantillaDetalle.idSeccionReporte > 1)">
                                <label for="inputValorReporte">Ubicación del text</label> 
                                <select name="inputUbicacion" class="form-control" [(ngModel)]="plantillaDetalle.idAlieacionText" [ngClass]="{ErrorControl: plantillaDetalle.idAlieacionText.toString() === '0'}">
                                    <option value="0">--Seleccione--</option>
                                    <option *ngFor="let reporteTextAlign of reportePlantaTextAlign" [value]="reporteTextAlign.id">{{reporteTextAlign.alieacionTexto}}</option>
                                </select>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="form-group btn btn-primary btn-sm btn-block"  id="submit" (click)='saveDetailsConfigurationTemplate()'>Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>