<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                  FILTROS
                  <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleFilters()'>
                      <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                  </button>
                </div>
                <div class="card-body" *ngIf='showFilters' @ngIfAnimation>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                              <label for="inputCompania">Compañía</label>
                              <select name="inputCompania"
                                class="form-control form-control-sm"
                                [(ngModel)]="selectedCompania"
                                (ngModelChange)="onChangeCompania($event)">
                                  <option value="0">Seleccione Compañía</option>
                                  <option *ngFor="let compania of companias"
                                    [value]="compania.ID">
                                    {{ compania.NOMBRE }}
                                  </option>
                              </select>
                                <!-- MULTI SELECT -->
                                <!-- <label for="inputCompania">Compañía</label>
                                <ngx-dropdown-treeview
                                  [buttonClass]="buttonClass"
                                  [config]="config"
                                  [items]="items"
                                  (selectedChange)="onSelectedChange($event)">
                                </ngx-dropdown-treeview> -->
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputPeriodo">Periodo</label>
                              <input type="month" name ="inputPeriodo"
                                class="form-control form-control-sm"
                                min="1960-01"
                                [value]='periodo'
                                (input)='onChangePeriodo($event.target.value)'>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputTipoReporte">Estado de Resultados</label>
                                <select name="inputTipoReporte"
                                  class="form-control form-control-sm"
                                  ([ngModel])='selectedTipoReporte'
                                  (change)='onChangeTipoReporte($event.target.value)'>
                                    <option *ngFor='let tipo of tipoReporte' [value]='tipo.Id'>
                                      {{ tipo.Descripcion }}
                                    </option>
                                  </select>
                              </div>
                          </div>
                          <div class="form-row">
                              <div class="form-group col-md-5">
                                <label for="inputSucursal">Sucursal</label>
                                <select name="inputSucursal"
                                  class="form-control form-control-sm"
                                  [(ngModel)]='selectedSucursal'
                                  (ngModelChange)='onChangeSucursal($event)'>
                                  <option *ngFor="let sucursal of sucursales" [value]="sucursal.MSUC">
                                    {{ sucursal.Alias }}
                                  </option>
                                </select>
                              </div>
                              <div class="form-group col-md-4">
                                <label for="inputDepartamento">Departamento</label>
                                <select name="inputDepartamento"
                                  class="form-control form-control-sm"
                                  [(ngModel)]='selectedDepartamento'
                                  (ngModelChange)='onChangeDepartamento($event)'>
                                  <option value="Todos">Todos</option>
                                  <option *ngFor='let depto of departamentos' [value]='depto.Departamento'>
                                    {{ depto.Departamento }}
                                  </option>
                                </select>
                              </div>
                              <div class="form-group col-md-2 d-flex align-items-end">
                                <button type="button"
                                  class="btn btn-primary btn-sm"
                                  id="submit"
                                  (click)='procesar()'>Procesar</button>
                              </div>
                            </div>
                      </form>
                </div>
              </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
          <div class="card">
            <div class="card-header bg-primary text-white text-center">
              UNIDADES
              <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidades()'>
                <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
              </button>
            </div>
            <table *ngIf='showUnidades' class="table table-sm table-bordered">
                <thead>
                  <tr>
                    <th class="bg-secondary text-white col-width-concepto">Concepto</th>
                    <th class="bg-primary text-white col-width-cantidad">Real</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-primary text-white col-width-perc">PPto</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-primary text-white col-width-cantidad">Variación</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-cantidad">Real</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-perc">PPto</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-cantidad">Variación</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let r of resultadoUnidades'>
                    <td>{{ r.Concepto }}</td>
                    <td>{{ r.Real }}</td>
                    <td>{{ r.Perc1 | number:'1.2-2' }}</td>
                    <td>{{ r.PPto }}</td>
                    <td>{{ r.Perc2 | number:'1.2-2' }}</td>
                    <td>{{ r.Variacion }}</td>
                    <td>{{ r.Perc3 | number:'1.2-2' }}</td>
                    <td>{{ r.AcReal }}</td>
                    <td>{{ r.AcPerc1 | number:'1.2-2' }}</td>
                    <td>{{ r.AcPPto }}</td>
                    <td>{{ r.AcPerc2 | number:'1.2-2' }}</td>
                    <td>{{ r.AcVariacion }}</td>
                    <td>{{ r.AcPerc3 | number:'1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                  UNIDADES
                  <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidadesDepartamento()'>
                      <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                  </button>
                </div>
                <table *ngIf='showUnidadesDepartamento' class="table table-sm table-bordered">
                    <thead>
                    <tr>
                      <th class="bg-secondary text-white col-width-concepto">Concepto</th>
                      <th class="bg-primary text-white col-width-cantidad">Real</th>
                      <th class="bg-primary text-white col-width-perc">%</th>
                      <th class="bg-primary text-white col-width-perc">PPto</th>
                      <th class="bg-primary text-white col-width-perc">%</th>
                      <th class="bg-primary text-white col-width-cantidad">Variación</th>
                      <th class="bg-primary text-white col-width-perc">%</th>
                      <th class="bg-success text-white col-width-cantidad">Real</th>
                      <th class="bg-success text-white col-width-perc">%</th>
                      <th class="bg-success text-white col-width-perc">PPto</th>
                      <th class="bg-success text-white col-width-perc">%</th>
                      <th class="bg-success text-white col-width-cantidad">Variación</th>
                      <th class="bg-success text-white col-width-perc">%</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let r of unidadesDepartamento'>
                        <td>{{ r.Concepto }}</td>
                        <td>{{ r.Real }}</td>
                        <td>{{ r.Perc1 | number:'1.2-2' }}</td>
                        <td>{{ r.PPto }}</td>
                        <td>{{ r.Perc2 | number:'1.2-2' }}</td>
                        <td>{{ r.Variacion }}</td>
                        <td>{{ r.Perc3 | number:'1.2-2' }}</td>
                        <td>{{ r.AcReal }}</td>
                        <td>{{ r.AcPerc1 | number:'1.2-2' }}</td>
                        <td>{{ r.AcPPto }}</td>
                        <td>{{ r.AcPerc2 | number:'1.2-2' }}</td>
                        <td>{{ r.AcVariacion }}</td>
                        <td>{{ r.AcPerc3 | number:'1.2-2' }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                      ESTADO DE RESULTADOS
                      <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleResultados()'>
                          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
                      </button>
                    </div>
                    <table *ngIf='showResultados' class="table table-sm table-bordered">
                        <thead>
                        <tr>
                          <th class="bg-secondary text-white col-width-concepto">Concepto</th>
                          <th class="bg-primary text-white col-width-cantidad">Real</th>
                          <th class="bg-primary text-white col-width-perc">%</th>
                          <th class="bg-primary text-white col-width-perc">PPto</th>
                          <th class="bg-primary text-white col-width-perc">%</th>
                          <th class="bg-primary text-white col-width-cantidad">Variación</th>
                          <th class="bg-primary text-white col-width-perc">%</th>
                          <th class="bg-success text-white col-width-cantidad">Real</th>
                          <th class="bg-success text-white col-width-perc">%</th>
                          <th class="bg-success text-white col-width-perc">PPto</th>
                          <th class="bg-success text-white col-width-perc">%</th>
                          <th class="bg-success text-white col-width-cantidad">Variación</th>
                          <th class="bg-success text-white col-width-perc">%</th>
                        </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor='let r of estadoResultados; let i = index;'>
                            <tr [ngClass]="{'font-weight-bold': i === 2 || i === 4 || i === 8}">
                              <td>{{ r.Concepto }}</td>
                              <td>{{ r.Real | number:'1.2-2' }}</td>
                              <td>{{ r.Perc1 | number:'1.2-2' }}</td>
                              <td>{{ r.PPto  | number:'1.2-2'}}</td>
                              <td>{{ r.Perc2 | number:'1.2-2' }}</td>
                              <td>{{ r.Variacion | number:'1.2-2' }}</td>
                              <td>{{ r.Perc3 | number:'1.2-2' }}</td>
                              <td>{{ r.AcReal | number:'1.2-2' }}</td>
                              <td>{{ r.AcPerc1 | number:'1.2-2' }}</td>
                              <td>{{ r.AcPPto | number:'1.2-2' }}</td>
                              <td>{{ r.AcPerc2 | number:'1.2-2' }}</td>
                              <td>{{ r.AcVariacion | number:'1.2-2' }}</td>
                              <td>{{ r.AcPerc3 | number:'1.2-2' }}</td>
                            </tr>
                          </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
