<div [@routerTransition]>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          FILTROS
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleFilters()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <div class="card-body" *ngIf='showFilters' @ngIfAnimation>
          <form>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="inputCompania">Compañía</label>
                <select name="inputCompania" class="form-control form-control-sm" [(ngModel)]="selectedCompania" (ngModelChange)="onChangeCompania($event)">
                  <option value="0">Seleccione Compañía</option>
                  <option *ngFor="let compania of companias" [value]="compania.id">
                    {{ compania.nombreComercial }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPeriodo">Periodo</label>
                <input type="month" name="inputPeriodo" class="form-control form-control-sm"
                  min="1960-01"
                  [value]='periodo'
                  (input)='onChangePeriodo($event.target.value)'>
              </div>
              <div class="form-group col-md-3">
                <label for="inputTipoReporte">Estado de Resultados</label>
                <select name="inputTipoReporte" class="form-control form-control-sm"
                  ([ngModel])='selectedTipoReporte'
                  (change)='onChangeTipoReporte($event.target.value)'>
                  <option *ngFor='let tipo of tipoReporte' [value]='tipo.Id'>
                    {{ tipo.Descripcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="inputSucursal">Sucursal</label>
                <select name="inputSucursal" class="form-control form-control-sm"
                  [disabled]="!showReporteUnidades ? '' : null"
                  [(ngModel)]='selectedIdSucursal'
                  (change)='onChangeSucursal($event.target.value)'>
                  <option *ngFor="let sucursal of sucursales" [value]="sucursal.id">
                    {{ sucursal.nombreComercial }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputDepartamento">Departamento</label>
                <select name="inputDepartamento" class="form-control form-control-sm"
                  [disabled]="!showReporteUnidades ? '' : null"
                  [(ngModel)]='selectedIdDepartamento'
                  (ngModelChange)='onChangeDepartamento($event)'>
                  <option *ngIf='departamentos.length > 0' value="0">Todos</option>
                  <option *ngFor='let depto of departamentos' [value]='depto.idPestana'>
                    {{ depto.pestanaNombre }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label class="invisible">invisible</label> <!-- Para bajar los botones -->
                <div class="row">
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-primary btn-sm btn-block" id="submit" (click)='procesar()'>Procesar</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)='showSuma()'>Suma</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- BEGIN Reporte UNIDADES -->
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          UNIDADES
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidades()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>

        <!-- BEGIN Unidades Primer Nivel -->
        <table *ngIf='showUnidades && !showDetalleUnidadesPrimerNivel' class="table table-sm table-bordered table-hover-td">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-perc">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-perc">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let r of resultadoUnidades;let i = index;' [ngClass]="{'table-info': r.descripcion.trim() === 'Total'}">
              <td>
                {{ r.descripcion }}
              </td>
              <td class="text-center" (click)="onClickUnidades(i, r.Cantidad, 'Real', 1)">
                <!-- 1 = Mensual -->
                {{ r.cantidad }}
              </td>
              <td class="text-right">{{ r.porcentaje | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.cantidadPresupuesto }}</td>
              <td class="text-right">{{ r.presupuestoPorcentaje | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.variacion }}</td>
              <td class="text-right">{{ r.porcentajeVariacion | number:'1.2-2' }}</td>
              <td class="text-center" (click)="onClickUnidades(i, r.AcReal, 'AcReal', 2)">
                <!-- 2 = Acumulado -->
                {{ r.cantidadAcumulado }}
              </td>
              <td class="text-right">{{ r.porcentajeAcumulado | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.cantidadPresupuestoAcumulado }}</td>
              <td class="text-right">{{ r.presupuestoPorcentajeAcumulado | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.variacionAcumulado }}</td>
              <td class="text-right">{{ r.porcentajeVariacionAcumulado | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
        <!-- END Unidades Primer Nivel -->

        <!-- BEGIN Unidades Segundo Nivel -->
        <div *ngIf='showDetalleUnidadesPrimerNivel' class="card-body" wsf-close-button (onClose)='hideDetalleUnidadesPrimerNivel()'>
          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a>
              </li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConcepto }}</li>
            </ol>
          </nav>

          <int-unidades-nv2 [idDetalleUnidades]='idDetalleUnidades'
                            [mes]='mes'
                            [anio]='anio'
                            [selectedCompania]='selectedCompania'
                            [selectedIdSucursal]='selectedIdSucursal'
                            [idOrigen]='idOrigen'
                            (showUnidades)='showUnidades=$event'
                            (showDetalleUnidadesPrimerNivel)='showDetalleUnidadesPrimerNivel=$event'
                            (showDetalleUnidadesSegundoNivel)='showDetalleUnidadesSegundoNivel=$event'
                            (detalleUnidadesNameSegundoNivel)='detalleUnidadesNameSegundoNivel=$event'
                            (detalleUnidadesValueSegundoNivel)='detalleUnidadesValueSegundoNivel=$event'
                            (detalleUnidadesConceptoSegundoNivel)='detalleUnidadesConceptoSegundoNivel=$event'
                            (departamentoAcumulado)='departamentoAcumulado=$event'
                            (mesAcumulado)='mesAcumulado=$event'
                            (idDepartamento)='idDepartamento=$event'
                            (carLine)='carLine=$event'
                            (errorMessage)='errorMessage=$event'
                            (idAutoLinea)='idAutoLinea=$event'
                            (fixedHeaderId)='fixedHeader($event)'>
          </int-unidades-nv2>
        </div>
        <!-- END Unidades Segundo Nivel -->

        <!-- BEGIN Unidades Tercer Nivel -->
        <div *ngIf='showDetalleUnidadesSegundoNivel' class="card-body" wsf-close-button (onClose)='hideDetalleUnidadesSegundoNivel()'>
          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesSegundoNivel()'>{{ detalleUnidadesConcepto }}</a>
              </li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConceptoSegundoNivel }} {{ toLongMonth(mesAcumulado) }}</li>
            </ol>
          </nav>

          <int-unidades-nv3 [idDetalleUnidades]='idDetalleUnidades'
                            [idAutoLinea]='idAutoLinea'
                            [idOrigen]='idOrigen'
                            [detalleUnidadesConcepto]='detalleUnidadesConcepto'
                            [mes]='mes'
                            [mesAcumulado]='mesAcumulado'
                            [anio]='anio'
                            [selectedCompania]='selectedCompania'
                            [selectedIdSucursal]='selectedIdSucursal'
                            [carLine]='carLine'
                            [idDepartamento]='idDepartamento'
                            [detalleName]='detalleName'
                            (deptoFlotillas)='deptoFlotillas=$event'
                            (showUnidades)='showUnidades=$event'
                            (showDetalleUnidadesPrimerNivel)='showDetalleUnidadesPrimerNivel=$event'
                            (showDetalleUnidadesSegundoNivel)='showDetalleUnidadesSegundoNivel=$event'
                            (showDetalleUnidadesTercerNivel)='showDetalleUnidadesTercerNivel=$event'
                            (detalleUnidadesNameTercerNivel)='detalleUnidadesNameTercerNivel=$event'
                            (detalleUnidadesValueTercerNivel)='detalleUnidadesValueTercerNivel=$event'
                            (detalleUnidadesConceptoTercerNivel)='detalleUnidadesConceptoTercerNivel=$event'
                            (idReporte)='idReporte=$event'
                            (fixedHeaderId)='fixedHeader($event)'
                            (mesAcumuladoNv3)='mesAcumuladoNv3=$event'>
          </int-unidades-nv3>
        </div>
        <!-- END Unidades Tercer Nivel -->

        <!-- BEGIN Unidades Cuarto Nivel -->
        <div *ngIf='showDetalleUnidadesTercerNivel' class="card-body" wsf-close-button (onClose)='hideDetalleUnidadesTercerNivel()'>
          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesSegundoNivel()'>{{ detalleUnidadesConcepto }}</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0)" (click)='hideDetalleUnidadesTercerNivel()'>{{ detalleUnidadesConceptoSegundoNivel }} {{ toLongMonth(mesAcumulado) }}</a>
              </li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConceptoTercerNivel }}</li>
            </ol>
          </nav>

          <int-unidades-nv4 [detalleUnidadesConcepto]='detalleUnidadesConcepto'
                            [detalleUnidadesConceptoSegundoNivel]='detalleUnidadesConceptoSegundoNivel'
                            [idOrigen]='idOrigen'
                            [mes]='mes'
                            [mesAcumuladoNv3]='mesAcumuladoNv3'
                            [anio]='anio'
                            [selectedCompania]='selectedCompania'
                            [selectedIdSucursal]='selectedIdSucursal'
                            [tipoAuto]='detalleUnidadesValueTercerNivel'
                            [idReporte]='idReporte'
                            [deptoFlotillas]='deptoFlotillas'>
          </int-unidades-nv4>
        </div>
        <!-- END Unidades Cuarto Nivel -->

        <wsf-suma-columnas></wsf-suma-columnas> <!-- Se comunica con los componentes por medio de un servicio -->

      </div>
      <!-- END Card -->
    </div>
  </div>
  <!-- END Reporte UNIDADES -->
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          UNIDADES
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidadesDepartamento()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <table *ngIf='showUnidadesDepartamento' class="table table-sm table-bordered">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-perc">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-perc">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let r of unidadesDepartamento'>
              <td>
                {{ r.descripcion }}
              </td>
              <td class="text-center" (click)="onClickUnidades(i, r.Cantidad, 'Real', 1)">
                <!-- 1 = Mensual -->
                {{ r.cantidad }}
              </td>
              <td class="text-right">{{ r.porcentaje | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.cantidadPresupuesto }}</td>
              <td class="text-right">{{ r.presupuestoPorcentaje | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.variacion }}</td>
              <td class="text-right">{{ r.porcentajeVariacion | number:'1.2-2' }}</td>
              <td class="text-center" (click)="onClickUnidades(i, r.AcReal, 'AcReal', 2)">
                <!-- 2 = Acumulado -->
                {{ r.cantidadAcumulado }}
              </td>
              <td class="text-right">{{ r.porcentajeAcumulado | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.cantidadPresupuestoAcumulado }}</td>
              <td class="text-right">{{ r.presupuestoPorcentajeAcumulado | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.variacionAcumulado }}</td>
              <td class="text-right">{{ r.porcentajeVariacionAcumulado | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          ESTADO DE RESULTADOS
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleResultados()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>

        <table *ngIf='showResultados && !showDetallePrimerNivel' class="table table-sm table-bordered table-fixed table-hover-td">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor='let r of estadoResultados; let i = index;'>
              <!-- BEGIN Templates para la tabla -->
              <ng-template #tipErReal>Por Unidad: {{ calculaTooltip(r.Real, 1) | number:'1.2-2' }}</ng-template>
              <ng-template #tipErPpto>Por Unidad: {{ calculaTooltip(r.PPto, 3) | number:'1.2-2' }}</ng-template>
              <ng-template #tipErAcReal>Por Unidad: {{ calculaTooltip(r.AcReal, 7) | number:'1.2-2' }}</ng-template>
              <ng-template #tipErAcPpto>Por Unidad: {{ calculaTooltip(r.AcPPto, 9) | number:'1.2-2' }}</ng-template>

              <ng-template #conTooltipReal>
                  <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.Real, 'Real', 1, 1)" [ngbTooltip]="tipErReal">
                    {{ r.Concepto === 'ROS' ? (r.Real | percent:'1.2-2') : (r.Real | number:'1.2-2') }}
                  </td>
                </ng-template>
              <ng-template #sinTooltipReal>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.Real, 'Real', 1, 1)">
                  {{ r.Concepto === 'ROS' ? (r.Real | percent:'1.2-2') : (r.Real | number:'1.2-2') }}
                </td>
              </ng-template>

              <ng-template #conTooltipPpto>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.PPto, 'PPto', 2, 1)" [ngbTooltip]="tipErPpto">
                  {{ r.Concepto === 'ROS' ? (r.PPto | percent:'1.2-2') : (r.PPto | number:'1.2-2') }}
                </td>
              </ng-template>
              <ng-template #sinTooltipPpto>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.PPto, 'PPto', 2, 1)">
                  {{ r.Concepto === 'ROS' ? (r.PPto | percent:'1.2-2') : (r.PPto | number:'1.2-2') }}
                </td>
              </ng-template>
              <ng-template #conTooltipAcReal>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcReal, 'AcReal', 1, 2)" [ngbTooltip]="tipErAcReal">
                  {{ r.Concepto === 'ROS' ? (r.AcReal | percent:'1.2-2') : (r.AcReal | number:'1.2-2') }}
                </td>
              </ng-template>
              <ng-template #sinTooltipAcReal>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcReal, 'AcReal', 1, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcReal | percent:'1.2-2') : (r.AcReal | number:'1.2-2') }}
                </td>
              </ng-template>
              <ng-template #conTooltipAcPpto>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcPPto, 'AcPPto', 2, 2)" [ngbTooltip]="tipErAcPpto">
                  {{ r.Concepto === 'ROS' ? (r.AcPPto | percent:'1.2-2') : (r.AcPPto | number:'1.2-2') }}
                </td>
              </ng-template>
              <ng-template #sinTooltipAcPpto>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcPPto, 'AcPPto', 2, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcPPto | percent:'1.2-2') : (r.AcPPto | number:'1.2-2') }}
                </td>
              </ng-template>
              <!-- END Templates -->
              <tr [ngClass]="{'font-weight-bold': shouldBeBold(r.Concepto)}">
                <td class="col-width-concepto">{{ r.Concepto }}</td>
                <ng-container *ngIf='r.Concepto === "Utilidad Bruta"; then conTooltipReal; else sinTooltipReal'> <!-- Se usan templates para ver si lleva o no tooltip-->
                  Esto no se muestra !!!!!!!
                </ng-container>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc1 | percent:'1.2-2') : (r.Perc1 | number:'1.2-2') }}
                </td>
                <ng-container *ngIf='r.Concepto === "Utilidad Bruta"; then conTooltipPpto; else sinTooltipPpto'> <!-- Se usan templates para ver si lleva o no tooltip-->
                  Esto no se muestra !!!!!!!
                </ng-container>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc2 | percent:'1.2-2') : (r.Perc2 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.Variacion, 'Variacion', 3, 1)">
                  {{ r.Concepto === 'ROS' ? (r.Variacion | percent:'1.2-2') : (r.Variacion | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc3 | percent:'1.2-2') : (r.Perc3 | number:'1.2-2') }}
                </td>
                <ng-container *ngIf='r.Concepto === "Utilidad Bruta"; then conTooltipAcReal; else sinTooltipAcReal'> <!-- Se usan templates para ver si lleva o no tooltip-->
                  Esto no se muestra !!!!!!!
                </ng-container>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc1 | percent:'1.2-2') : (r.AcPerc1 | number:'1.2-2') }}
                </td>
                <ng-container *ngIf='r.Concepto === "Utilidad Bruta"; then conTooltipAcPpto; else sinTooltipAcPpto'> <!-- Se usan templates para ver si lleva o no tooltip-->
                  Esto no se muestra !!!!!!!
                </ng-container>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc2 | percent:'1.2-2') : (r.AcPerc2 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcVariacion, 'AcVariacion', 3, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcVariacion | percent:'1.2-2') : (r.AcVariacion | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc3 | percent:'1.2-2') : (r.AcPerc3 | number:'1.2-2') }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- BEGIN Detalle de Resultados -->
        <div *ngIf='showDetallePrimerNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetallePrimerNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetallePrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item active">
                {{ detalleConcepto}} ({{ detalleName }})
                <span class="badge badge-dark">{{ detalleValue | number:'1.2-2' }}</span>
              </li>
            </ol>
          </nav>

          <table id="detalleResultadosAcumulado" *ngIf='idDetalleResultados === 1' class="table table-sm table-bordered table-fixed table-hover-td"
                  [ngClass]="{'table-without-scroll': detalleResultadosMensualScroll}">
            <thead>
              <tr>
                <th class="bg-secondary text-white col-md-3">Concepto</th>
                <th class="bg-secondary text-white"
                    [ngClass]="idEstadoResultado !== 3 ? 'col-md-3' : 'col-md-2'">No. Cuenta</th>
                <th class="bg-secondary text-white col-md-3">Descripción</th>
                <th *ngIf='idEstadoResultado !== 3' class="col-md-3 bg-secondary text-white">Saldo Mensual</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Real</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Presupuesto</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Variacion</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white"> Pct </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let drm of detalleResultadosMensual; let i = index;'
                  [ngClass]="{'font-weight-bold': shouldBeBold(drm.Concepto)}">
                <td class="col-md-3">{{ drm.Concepto }}</td>
                <td [ngClass]="idEstadoResultado !== 3 ? 'col-md-3' : 'col-md-2'">{{ drm.Numcta }}</td>
                <td class="col-md-3">{{ drm.Descr }}</td>
                <td *ngIf='idEstadoResultado !== 3' class="col-md-3 text-right"
                    (click)="onClickDetalleSegundoNivel(i, drm.SaldoMes, 'Saldomes')">{{ drm.SaldoMes | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right"
                    (click)="onClickDetalleSegundoNivel(i, drm.Real, 'Real')">{{ drm.Real | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Pspsto | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Variacion | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Pct | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>

          <table id="detalleResultadosAcumulado" *ngIf='idDetalleResultados === 2' class="table table-sm table-bordered table-responsive table-hover-td table-double-scroll">
            <thead>
              <tr>
                <th class="bg-secondary text-white min-width-220">Concepto</th>
                <th class="bg-secondary text-white min-width-135">No.Cuenta</th>
                <th class="bg-secondary text-white min-width-220">Descripción</th>
                <th class="bg-secondary text-white">ENE</th>
                <th *ngIf='mes >= "02"' class="bg-secondary text-white">FEB</th>
                <th *ngIf='mes >= "03"' class="bg-secondary text-white">MAR</th>
                <th *ngIf='mes >= "04"' class="bg-secondary text-white">ABR</th>
                <th *ngIf='mes >= "05"' class="bg-secondary text-white">MAY</th>
                <th *ngIf='mes >= "06"' class="bg-secondary text-white">JUN</th>
                <th *ngIf='mes >= "07"' class="bg-secondary text-white">JUL</th>
                <th *ngIf='mes >= "08"' class="bg-secondary text-white">AGO</th>
                <th *ngIf='mes >= "09"' class="bg-secondary text-white">SEP</th>
                <th *ngIf='mes >= "10"' class="bg-secondary text-white">OCT</th>
                <th *ngIf='mes >= "11"' class="bg-secondary text-white">NOV</th>
                <th *ngIf='mes >= "12"' class="bg-secondary text-white">DIC</th>
                <th *ngIf='mes >= "02"' class="bg-secondary text-white">SUMA</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Real</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Presupuesto</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Variacion</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white"> % </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let drm of detalleResultadosMensual; let i = index;'
                  [ngClass]="{'font-weight-bold': shouldBeBold(drm.Concepto)}">
                <td class="">{{ drm.Concepto }}</td>
                <td class="">{{ drm.Numcta }}</td>
                <td class="">{{ drm.Descr }}</td>
                <td class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Ene, 'Enero', '01')">{{ drm.Ene | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "02"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Feb, 'Febrero', '02')">{{ drm.Feb | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "03"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Mar, 'Marzo', '03')">{{ drm.Mar | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "04"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Abr, 'Abril', '04')">{{ drm.Abr | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "05"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.May, 'Mayo', '05')">{{ drm.May | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "06"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Jun, 'Junio', '06')">{{ drm.Jun | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "07"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Jul, 'Julio', '07')">{{ drm.Jul | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "08"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Ago, 'Agosto', '08')">{{ drm.Ago | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "09"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Sep, 'Septiembre', '09')">{{ drm.Sep | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "10"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Oct, 'Octubre', '10')">{{ drm.Oct | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "11"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Nov, 'Noviembre', '11')">{{ drm.Nov | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "12"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Dic, 'Diciembre', '12')">{{ drm.Dic | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "02"' class="text-right">{{ drm.Suma | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Real | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Pspsto | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Variacion | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Pct | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- END Detalle de resultados -->

        <!-- BEGIN Detalle Segundo Nivel -->
        <div *ngIf='showDetalleSegundoNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetalleSegundoNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetallePrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleSegundoNivel()'>{{ detalleConcepto}} ({{ detalleName }})</a></li>
              <li class="breadcrumb-item active">
                {{ detalleConceptoSegundoNivel }}
                {{ detalleNameSegundoNivel }}
                <span class="badge badge-dark">{{ detalleValueSegundoNivel | number:'1.2-2' }}</span>
              </li>
            </ol>
          </nav>

          <table class="table table-sm table-bordered table-fixed"
                 [ngClass]="{'table-without-scroll': detalleResultadosCuentasScroll}">
              <thead>
                <tr>
                  <th class="bg-orange text-white col-md-1">TIPOPOL</th>
                  <th class="bg-orange text-white col-md-1">CONSPOL</th>
                  <th class="bg-orange text-white col-md-2">NUMCTA</th>
                  <th class="bg-orange text-white col-md-6">CONCEPTO</th>
                  <th class="bg-orange text-white col-md-1">CARGO</th>
                  <th class="bg-orange text-white col-md-1">ABONO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let drc of detalleResultadosCuentas'>
                  <td class="col-md-1">{{ drc.MOV_TIPOPOL }}</td>
                  <td class="col-md-1 text-center">{{ drc.MOV_CONSPOL }}</td>
                  <td class="col-md-2">{{ drc.MOV_NUMCTA }}</td>
                  <td class="col-md-6">{{ drc.MOV_CONCEPTO }}</td>
                  <td class="col-md-1 text-right">{{ drc.MOV_DEBE | number:'1.2-2' }}</td>
                  <td class="col-md-1 text-right">{{ drc.MOV_HABER | number:'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- END Detalle Segundo Nivel -->
      </div>
    </div>
  </div>

  <!-- BEGIN Suma de departamentos -->
  <div *ngIf='showSumaDepartamentos' class="row">
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">SUMA DEPARTAMENTOS</div>
        <div class="card-body">
          <button type="button" class="close" (click)='hideSumaDepartamentos()'>
            <span>&times;</span>
          </button>
          <div class="row">
            <div class="col-sm-2">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)='selectTodosDeptos(false)'>Ninguno</button>
                  </div>
                  <div class="form-group col-md-6">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)='selectTodosDeptos(true)'>Todos</button>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-secondary btn-sm btn-block" (click)='sumaDepartamentos()'>Procesar</button>
                  </div>
                </div>
                <select name="inputDepartamentoMulti" class="custom-select custom-select-sm" multiple size="13" [(ngModel)]='selectedDepartamentos'
                        (change)='onChangeSumaDepartamentos()'>
                  <option *ngFor='let depto of departamentos' [value]='depto.Depto' [selected]='depto.Selected'>
                    {{ depto.Departamento }}
                  </option>
                </select>
              </form>
            </div>
            <div class="col-sm-10">
              <table class="table table-sm table-bordered table-fixed">
                <thead>
                  <tr>
                    <th class="bg-secondary text-white col-width-concepto">Concepto</th>
                    <th class="bg-primary text-white col-width-cantidad">Real</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-primary text-white col-width-cantidad">PPto</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-primary text-white col-width-cantidad">Variación</th>
                    <th class="bg-primary text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-cantidad">Real</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-cantidad">PPto</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                    <th class="bg-success text-white col-width-cantidad">Variación</th>
                    <th class="bg-success text-white col-width-perc">%</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor='let r of resultadoSumaDepartamentos; let i = index;'>
                    <tr [ngClass]="{'font-weight-bold': shouldBeBold(r.Concepto)}">
                      <td class="col-width-concepto">{{ r.Concepto }}</td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.Real | percent:'1.2-2') : (r.Real | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.Perc1 | percent:'1.2-2') : (r.Perc1 | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.PPto | percent:'1.2-2') : (r.PPto | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.Perc2 | percent:'1.2-2') : (r.Perc2 | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.Variacion | percent:'1.2-2') : (r.Variacion | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.Perc3 | percent:'1.2-2') : (r.Perc3 | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.AcReal | percent:'1.2-2') : (r.AcReal | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.AcPerc1 | percent:'1.2-2') : (r.AcPerc1 | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.AcPPto | percent:'1.2-2') : (r.AcPPto | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.AcPerc2 | percent:'1.2-2') : (r.AcPerc2 | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-cantidad">
                        {{ r.Concepto === 'ROS' ? (r.AcVariacion | percent:'1.2-2') : (r.AcVariacion | number:'1.2-2') }}
                      </td>
                      <td class="text-right col-width-perc">
                        {{ r.Concepto === 'ROS' ? (r.AcPerc3 | percent:'1.2-2') : (r.AcPerc3 | number:'1.2-2') }}
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END Suma de departamentos -->

  <!-- BEGIN Estado de situacion financiera -->
  <div *ngIf='showEfectivoSituacion' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          FLUJO DE EFECTIVO REAL
        </div>
        <table class="table table-sm table-bordered table-responsive">
          <thead>
            <tr>
              <th class="bg-success text-white">Concepto</th>
              <th class="bg-success text-white">Ene</th>
              <th class="bg-success text-white">Feb</th>
              <th class="bg-success text-white">Mar</th>
              <th class="bg-success text-white">Abr</th>
              <th class="bg-success text-white">May</th>
              <th class="bg-success text-white">Jun</th>
              <th class="bg-success text-white">Jul</th>
              <th class="bg-success text-white">Ago</th>
              <th class="bg-success text-white">Sep</th>
              <th class="bg-success text-white">Oct</th>
              <th class="bg-success text-white">Nov</th>
              <th class="bg-success text-white">Dic</th>
              <th *ngIf="selectedTipoReporte === '5'" class="bg-success text-white">DicAñoAnt</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor='let es of efectivoSituacion; let i = index;'>
              <tr>
                <td class="">{{ es.Concepto }}</td>
                <td class="text-right">{{ es.Ene | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Feb | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Mar | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Abr | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.May | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Jun | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Jul | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Ago | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Sep | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Oct | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Nov | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Dic | number:'1.2-2' }}</td>
                <td *ngIf="selectedTipoReporte === '5'" class="text-right">{{ es.SaldoINI | number:'1.2-2' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- END Estado de situacion financiera -->
</div>
