<div [@routerTransition]>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          FILTROS
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleFilters()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <div class="card-body" *ngIf='showFilters' @ngIfAnimation>
          <form>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="inputCompania">Compañía</label>
                <select name="inputCompania" class="form-control form-control-sm" [(ngModel)]="selectedCompania" (ngModelChange)="onChangeCompania($event)">
                  <option value="0">Seleccione Compañía</option>
                  <option *ngFor="let compania of companias" [value]="compania.ID">
                    {{ compania.NOMBRE }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPeriodo">Periodo</label>
                <input type="month" name="inputPeriodo" class="form-control form-control-sm"
                  min="1960-01"
                  [value]='periodo'
                  (input)='onChangePeriodo($event.target.value)'>
              </div>
              <div class="form-group col-md-3">
                <label for="inputTipoReporte">Estado de Resultados</label>
                <select name="inputTipoReporte" class="form-control form-control-sm"
                  ([ngModel])='selectedTipoReporte'
                  (change)='onChangeTipoReporte($event.target.value)'>
                  <option *ngFor='let tipo of tipoReporte' [value]='tipo.Id'>
                    {{ tipo.Descripcion }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-5">
                <label for="inputSucursal">Sucursal</label>
                <select name="inputSucursal" class="form-control form-control-sm"
                  [disabled]="!showReporteUnidades ? '' : null"
                  [(ngModel)]='selectedIndexSucursal'
                  (change)='onChangeSucursal($event.target.value)'>
                  <option *ngFor="let sucursal of sucursales;let i = index;" [value]="i">
                    {{ sucursal.Alias }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputDepartamento">Departamento</label>
                <select name="inputDepartamento" class="form-control form-control-sm"
                  [disabled]="!showReporteUnidades ? '' : null"
                  [(ngModel)]='selectedDepartamento'
                  (ngModelChange)='onChangeDepartamento($event)'>
                  <option *ngIf='departamentos.length > 0' value="Todos">Todos</option>
                  <option *ngFor='let depto of departamentos' [value]='depto.Depto'>
                    {{ depto.Departamento }}
                  </option>
                </select>
              </div>
              <div class="form-group col-md-2 d-flex align-items-end">
                <button type="button" class="btn btn-primary btn-sm" id="submit" (click)='procesar()'>Procesar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          UNIDADES
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidades()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <table *ngIf='showUnidades && !showDetalleUnidadesPrimerNivel' class="table table-sm table-bordered table-hover-td">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-perc">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-perc">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let r of resultadoUnidades;let i = index;' [ngClass]="{'table-info': r.Concepto === 'Total Unidades'}">
              <td>
                {{ r.Concepto }}
              </td>
              <td class="text-center" (click)="onClickUnidades(i, r.Real, 'Real', 1)">
                {{ r.Real }}
              </td>
              <td class="text-right">{{ r.Perc1 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.PPto }}</td>
              <td class="text-right">{{ r.Perc2 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.Variacion }}</td>
              <td class="text-right">{{ r.Perc3 | number:'1.2-2' }}</td>
              <td class="text-center" (click)="onClickUnidades(i, r.AcReal, 'AcReal', 2)">
                {{ r.AcReal }}
              </td>
              <td class="text-right">{{ r.AcPerc1 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.AcPPto }}</td>
              <td class="text-right">{{ r.AcPerc2 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.AcVariacion }}</td>
              <td class="text-right">{{ r.AcPerc3 | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>

        <!-- BEGIN Detalle Unidades Mensual -->
        <div *ngIf='showDetalleUnidadesPrimerNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetalleUnidadesPrimerNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConcepto }}</li>
            </ol>
          </nav>

          <div *ngIf='idDetalleUnidades === 1' class="row justify-content-center">
            <div class="col-md-6">
              <table class="table table-sm table-bordered table-hover-td">
                <thead>
                  <tr>
                    <!-- Flotillas tiene una columna extra (Depto) -->
                    <th *ngIf='detalleUnidadesConcepto === "N FLOTILLAS"' class="bg-secondary text-white">Depto</th>
                    <th class="bg-secondary text-white">CarLine</th>
                    <th class="bg-secondary text-white text-center">Cantidad</th>
                    <th class="bg-secondary text-white text-right">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let d of detalleUnidadesMensual; let i = index;'
                      (click)='onClickDetalleUnidadesMensual(i, d.CarLine, "TipoUnidades", "", d.Depto)'>
                    <td *ngIf='detalleUnidadesConcepto === "N FLOTILLAS"'>{{ d.Depto }}</td>
                    <td>{{ d.CarLine }}</td>
                    <td class="text-center">{{ d.Cantidad === null ? 0 : d.Cantidad }}</td>
                    <td class="text-right">{{ d.Perc | number: '1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <table *ngIf='idDetalleUnidades === 2' class="table table-sm table-bordered table-responsive table-hover-td table-double-scroll">
              <thead>
                  <tr>
                    <th *ngIf='detalleUnidadesConcepto === "N FLOTILLAS"' class="bg-secondary text-white min-width-220">Depto</th>
                    <th class="bg-secondary text-white min-width-135">CarLine</th>
                    <th class="bg-secondary text-white">ENE</th>
                    <th class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "02"' class="bg-secondary text-white">FEB</th>
                    <th *ngIf='mes >= "02"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "03"' class="bg-secondary text-white">MAR</th>
                    <th *ngIf='mes >= "03"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "04"' class="bg-secondary text-white">ABR</th>
                    <th *ngIf='mes >= "04"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "05"' class="bg-secondary text-white">MAY</th>
                    <th *ngIf='mes >= "05"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "06"' class="bg-secondary text-white">JUN</th>
                    <th *ngIf='mes >= "06"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "07"' class="bg-secondary text-white">JUL</th>
                    <th *ngIf='mes >= "07"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "08"' class="bg-secondary text-white">AGO</th>
                    <th *ngIf='mes >= "08"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "09"' class="bg-secondary text-white">SEP</th>
                    <th *ngIf='mes >= "09"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "10"' class="bg-secondary text-white">OCT</th>
                    <th *ngIf='mes >= "10"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "11"' class="bg-secondary text-white">NOV</th>
                    <th *ngIf='mes >= "11"' class="bg-secondary text-white text-center"> % </th>
                    <th *ngIf='mes >= "12"' class="bg-secondary text-white">DIC</th>
                    <th *ngIf='mes >= "12"' class="bg-secondary text-white text-center"> % </th>
                    <th class="bg-secondary text-white">TOTAL</th>
                    <th class="bg-secondary text-white text-center"> % </th>
                    <!-- <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Real</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let dra of detalleUnidadesAcumulado; let i = index;'>
                    <td *ngIf='detalleUnidadesConcepto === "N FLOTILLAS"'>{{ dra.Depto }}</td>
                    <td>{{ dra.Carline }}</td>
                    <td class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Enero", "01", dra.Depto)'>{{ dra.Ene }}</td>
                    <td class="text-right">{{ dra.PtcEne | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "02"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Febrero", "02", dra.Depto)'>{{ dra.Feb }}</td>
                    <td *ngIf='mes >= "02"' class="text-right">{{ dra.PtcFeb | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "03"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Marzo", "03", dra.Depto)'>{{ dra.Mar }}</td>
                    <td *ngIf='mes >= "03"' class="text-right">{{ dra.PtcMar | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "04"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Abril", "04", dra.Depto)'>{{ dra.Abr }}</td>
                    <td *ngIf='mes >= "04"' class="text-right">{{ dra.PtcAbr | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "05"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Mayo", "05", dra.Depto)'>{{ dra.May }}</td>
                    <td *ngIf='mes >= "05"' class="text-right">{{ dra.PtcMay | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "06"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Junio", "06", dra.Depto)'>{{ dra.Jun }}</td>
                    <td *ngIf='mes >= "06"' class="text-right">{{ dra.PtcJun | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "07"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Julio", "07", dra.Depto)'>{{ dra.Jul }}</td>
                    <td *ngIf='mes >= "07"' class="text-right">{{ dra.PtcJul | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "08"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Agosto", "08", dra.Depto)'>{{ dra.Ago }}</td>
                    <td *ngIf='mes >= "08"' class="text-right">{{ dra.PtcAgo | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "09"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Septiembre", "09", dra.Depto)'>{{ dra.Sep }}</td>
                    <td *ngIf='mes >= "09"' class="text-right">{{ dra.PtcSep | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "10"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Octubre", "10", dra.Depto)'>{{ dra.Oct }}</td>
                    <td *ngIf='mes >= "10"' class="text-right">{{ dra.PtcOct | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "11"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Noviembre", "11", dra.Depto)'>{{ dra.Nov }}</td>
                    <td *ngIf='mes >= "11"' class="text-right">{{ dra.PtcNov | number:'1.2-2' }}</td>
                    <td *ngIf='mes >= "12"' class="text-center" (click)='onClickDetalleUnidadesMensual(i, dra.Carline, "Diciembre", "12", dra.Depto)'>{{ dra.Dic }}</td>
                    <td *ngIf='mes >= "12"' class="text-right">{{ dra.PtcDic | number:'1.2-2' }}</td>
                    <td class="text-center">{{ dra.TOTAL }}</td>
                    <td class="text-right">{{ dra.PctTotal | number:'1.2-2' }}</td>
                    <!-- <td *ngIf='idEstadoResultado === 3' class="text-right">{{ dra.Pct | number:'1.2-2' }}</td> -->
                  </tr>
                </tbody>
          </table>
        </div>
        <!-- END Detalle Unidades Mensual -->

        <!-- BEGIN Unidades Segundo Nivel -->
        <div *ngIf='showDetalleUnidadesSegundoNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetalleUnidadesSegundoNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesSegundoNivel()'>{{ detalleUnidadesConcepto }}</a></li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConceptoSegundoNivel }}</li>
            </ol>
          </nav>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <table class="table table-sm table-bordered table-hover-td">
                <thead>
                  <tr>
                    <th class="bg-orange text-white col-sm">Tipo Unidad</th>
                    <th class="bg-orange text-white col-sm text-center">Cantidad</th>
                    <th class="bg-orange text-white col-sm text-center">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let d of detalleUnidadesTipo; let i = index;'
                      (click)='onClickDetalleUnidadesTipo(i, d.TipoUnidad)'>
                    <td>{{ d.TipoUnidad }}</td>
                    <td class="text-center">{{ d.Cantidad }}</td>
                    <td class="text-right">{{ d.Perc | number: '1.2-2' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- END Unidades Segundo Nivel -->

        <!-- BEGIN Unidades Tercer Nivel -->
        <div *ngIf='showDetalleUnidadesTercerNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetalleUnidadesTercerNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesPrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesSegundoNivel()'>{{ detalleUnidadesConcepto }}</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleUnidadesTercerNivel()'>{{ detalleUnidadesConceptoSegundoNivel }}</a></li>
              <li class="breadcrumb-item active">{{ detalleUnidadesConceptoTercerNivel }}</li>
            </ol>
          </nav>

          <table class="table table-sm table-bordered table-responsive table-double-scroll">
            <thead>
              <tr>
                <th class="bg-secondary text-white">Modelo</th>
                <th class="bg-secondary text-white">IdBI</th>
                <th class="bg-secondary text-white">Status</th>
                <th class="bg-secondary text-white">IdCliente</th>
                <th class="bg-secondary text-white min-width-220">Nombre</th>
                <th class="bg-secondary text-white">RFC</th>
                <th class="bg-secondary text-white min-width-220">Vendedor</th>
                <th class="bg-secondary text-white">Pedido</th>
                <th class="bg-secondary text-white">Factura</th>
                <th class="bg-secondary text-white">#_Inventario</th>
                <th class="bg-secondary text-white">Serie</th>
                <th class="bg-secondary text-white">Precio_Base</th>
                <th class="bg-secondary text-white">Isan</th>
                <th class="bg-secondary text-white">%_IVA</th>
                <th class="bg-secondary text-white">IVA</th>
                <th class="bg-secondary text-white">Importe Total</th>
                <th class="bg-secondary text-white">Costo Compra</th>
                <th class="bg-secondary text-white">Incentivo</th>
                <th class="bg-secondary text-white">Total Compra</th>
                <th class="bg-secondary text-white">Utilidad</th>
                <!-- <th>% Utilidad</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let dus of detalleUnidadesSeries'>
                <td>{{ dus.Modelo }}</td>
                <td>{{ dus.IdBI }}</td>
                <td>{{ dus.Status }}</td>
                <td>{{ dus.IdCliente }}</td>
                <td>{{ dus.Nombre }}</td>
                <td>{{ dus.RFC }}</td>
                <td>{{ dus.Vendedor }}</td>
                <td>{{ dus.Pedido }}</td>
                <td>{{ dus.Factura }}</td>
                <td>{{ dus.NumInventario }}</td>
                <td>{{ dus.Serie }}</td>
                <td>{{ dus.PrecioBase | number:'1.2-2' }}</td>
                <td>{{ dus.Isan | number:'1.2-2' }}</td>
                <td>{{ dus.PercIVA | number:'1.2-2' }}</td>
                <td>{{ dus.IVA | iva: dus.Isan }}</td>
                <td>{{ dus.ImporteTotal | number:'1.2-2' }}</td>
                <td>{{ dus.CostoCompra | number:'1.2-2' }}</td>
                <td>{{ dus.Incentivo | number:'1.2-2' }}</td>
                <td>{{ dus.TotalCompra | number:'1.2-2' }}</td>
                <td>{{ dus.Utilidad | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- END Unidades Tercer Nivel -->
        </div>
    </div>
  </div>
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          UNIDADES
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleUnidadesDepartamento()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <table *ngIf='showUnidadesDepartamento' class="table table-sm table-bordered">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-perc">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-perc">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let r of unidadesDepartamento'>
              <td>{{ r.Concepto }}</td>
              <td class="text-center">{{ r.Real }}</td>
              <td class="text-right">{{ r.Perc1 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.PPto }}</td>
              <td class="text-right">{{ r.Perc2 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.Variacion }}</td>
              <td class="text-right">{{ r.Perc3 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.AcReal }}</td>
              <td class="text-right">{{ r.AcPerc1 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.AcPPto }}</td>
              <td class="text-right">{{ r.AcPerc2 | number:'1.2-2' }}</td>
              <td class="text-center">{{ r.AcVariacion }}</td>
              <td class="text-right">{{ r.AcPerc3 | number:'1.2-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='showReporteUnidades' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          ESTADO DE RESULTADOS
          <button type="button" class="btn btn-primary text-white btn-sm btn-vm" (click)='toggleResultados()'>
            <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
          </button>
        </div>
        <table *ngIf='showResultados && !showDetallePrimerNivel' class="table table-sm table-bordered table-fixed table-hover-td">
          <thead>
            <tr>
              <th class="bg-secondary text-white col-width-concepto">Concepto</th>
              <th class="bg-primary text-white col-width-cantidad">Real</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">PPto</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-primary text-white col-width-cantidad">Variación</th>
              <th class="bg-primary text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Real</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">PPto</th>
              <th class="bg-success text-white col-width-perc">%</th>
              <th class="bg-success text-white col-width-cantidad">Variación</th>
              <th class="bg-success text-white col-width-perc">%</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor='let r of estadoResultados; let i = index;'>
              <tr [ngClass]="{'font-weight-bold': shouldBeBold(r.Concepto)}">
                <td class="col-width-concepto">{{ r.Concepto }}</td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.Real, 'Real', 1, 1)">
                  {{ r.Concepto === 'ROS' ? (r.Real | percent:'1.2-2') : (r.Real | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc1 | percent:'1.2-2') : (r.Perc1 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.PPto, 'PPto', 2, 1)">
                  {{ r.Concepto === 'ROS' ? (r.PPto | percent:'1.2-2') : (r.PPto | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc2 | percent:'1.2-2') : (r.Perc2 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.Variacion, 'Variacion', 3, 1)">
                  {{ r.Concepto === 'ROS' ? (r.Variacion | percent:'1.2-2') : (r.Variacion | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.Perc3 | percent:'1.2-2') : (r.Perc3 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcReal, 'AcReal', 1, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcReal | percent:'1.2-2') : (r.AcReal | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc1 | percent:'1.2-2') : (r.AcPerc1 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcPPto, 'AcPPto', 2, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcPPto | percent:'1.2-2') : (r.AcPPto | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc2 | percent:'1.2-2') : (r.AcPerc2 | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-cantidad" (click)="onClickResultado(i, r.AcVariacion, 'AcVariacion', 3, 2)">
                  {{ r.Concepto === 'ROS' ? (r.AcVariacion | percent:'1.2-2') : (r.AcVariacion | number:'1.2-2') }}
                </td>
                <td class="text-right col-width-perc">
                  {{ r.Concepto === 'ROS' ? (r.AcPerc3 | percent:'1.2-2') : (r.AcPerc3 | number:'1.2-2') }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>

        <!-- BEGIN Detalle de Resultados -->
        <div *ngIf='showDetallePrimerNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetallePrimerNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetallePrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item active">
                {{ detalleConcepto}} ({{ detalleName }})
                <span class="badge badge-dark">{{ detalleValue | number:'1.2-2' }}</span>
              </li>
            </ol>
          </nav>

          <table *ngIf='idDetalleResultados === 1' class="table table-sm table-bordered table-fixed table-hover-td"
                  [ngClass]="{'table-without-scroll': detalleResultadosMensualScroll}">
            <thead>
              <tr>
                <th class="bg-secondary text-white col-md-3">Concepto</th>
                <th class="bg-secondary text-white"
                    [ngClass]="idEstadoResultado !== 3 ? 'col-md-3' : 'col-md-2'">No. Cuenta</th>
                <th class="bg-secondary text-white col-md-3">Descripción</th>
                <th *ngIf='idEstadoResultado !== 3' class="col-md-3 bg-secondary text-white">Saldo Mensual</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Real</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Presupuesto</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white">Variacion</th>
                <th *ngIf='idEstadoResultado === 3' class="col-md-1 bg-secondary text-white"> Pct </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let drm of detalleResultadosMensual; let i = index;'
                  [ngClass]="{'font-weight-bold': shouldBeBold(drm.Concepto)}">
                <td class="col-md-3">{{ drm.Concepto }}</td>
                <td [ngClass]="idEstadoResultado !== 3 ? 'col-md-3' : 'col-md-2'">{{ drm.Numcta }}</td>
                <td class="col-md-3">{{ drm.Descr }}</td>
                <td *ngIf='idEstadoResultado !== 3' class="col-md-3 text-right"
                    (click)="onClickDetalleSegundoNivel(i, drm.SaldoMes, 'Saldomes')">{{ drm.SaldoMes | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right"
                    (click)="onClickDetalleSegundoNivel(i, drm.Real, 'Real')">{{ drm.Real | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Pspsto | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Variacion | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="col-md-1 text-right">{{ drm.Pct | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>

          <table id="detalleResultadosAcumulado" *ngIf='idDetalleResultados === 2' class="table table-sm table-bordered table-responsive table-hover-td table-double-scroll">
            <thead>
              <tr>
                <th class="bg-secondary text-white min-width-220">Concepto</th>
                <th class="bg-secondary text-white min-width-135">No.Cuenta</th>
                <th class="bg-secondary text-white min-width-220">Descripción</th>
                <th class="bg-secondary text-white">ENE</th>
                <th *ngIf='mes >= "02"' class="bg-secondary text-white">FEB</th>
                <th *ngIf='mes >= "03"' class="bg-secondary text-white">MAR</th>
                <th *ngIf='mes >= "04"' class="bg-secondary text-white">ABR</th>
                <th *ngIf='mes >= "05"' class="bg-secondary text-white">MAY</th>
                <th *ngIf='mes >= "06"' class="bg-secondary text-white">JUN</th>
                <th *ngIf='mes >= "07"' class="bg-secondary text-white">JUL</th>
                <th *ngIf='mes >= "08"' class="bg-secondary text-white">AGO</th>
                <th *ngIf='mes >= "09"' class="bg-secondary text-white">SEP</th>
                <th *ngIf='mes >= "10"' class="bg-secondary text-white">OCT</th>
                <th *ngIf='mes >= "11"' class="bg-secondary text-white">NOV</th>
                <th *ngIf='mes >= "12"' class="bg-secondary text-white">DIC</th>
                <th *ngIf='mes >= "02"' class="bg-secondary text-white">SUMA</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Real</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Presupuesto</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white">Variacion</th>
                <th *ngIf='idEstadoResultado === 3' class="bg-secondary text-white"> % </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let drm of detalleResultadosMensual; let i = index;'
                  [ngClass]="{'font-weight-bold': shouldBeBold(drm.Concepto)}">
                <td class="">{{ drm.Concepto }}</td>
                <td class="">{{ drm.Numcta }}</td>
                <td class="">{{ drm.Descr }}</td>
                <td class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Ene, 'Enero', '01')">{{ drm.Ene | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "02"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Feb, 'Febrero', '02')">{{ drm.Feb | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "03"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Mar, 'Marzo', '03')">{{ drm.Mar | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "04"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Abr, 'Abril', '04')">{{ drm.Abr | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "05"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.May, 'Mayo', '05')">{{ drm.May | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "06"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Jun, 'Junio', '06')">{{ drm.Jun | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "07"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Jul, 'Julio', '07')">{{ drm.Jul | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "08"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Ago, 'Agosto', '08')">{{ drm.Ago | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "09"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Sep, 'Septiembre', '09')">{{ drm.Sep | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "10"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Oct, 'Octubre', '10')">{{ drm.Oct | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "11"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Nov, 'Noviembre', '11')">{{ drm.Nov | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "12"' class="text-right" (click)="onClickDetalleSegundoNivel(i, drm.Dic, 'Diciembre', '12')">{{ drm.Dic | number:'1.2-2' }}</td>
                <td *ngIf='mes >= "02"' class="text-right">{{ drm.Suma | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Real | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Pspsto | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Variacion | number:'1.2-2' }}</td>
                <td *ngIf='idEstadoResultado === 3' class="text-right">{{ drm.Pct | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- END Detalle de resultados -->

        <!-- BEGIN Detalle Segundo Nivel -->
        <div *ngIf='showDetalleSegundoNivel' class="card-body">
          <button type="button" class="close" (click)='hideDetalleSegundoNivel()'>
            <span>&times;</span>
          </button>

          <nav role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetallePrimerNivel()'>{{ selectedNombreCompania }}</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)" (click)='hideDetalleSegundoNivel()'>{{ detalleConcepto}} ({{ detalleName }})</a></li>
              <li class="breadcrumb-item active">
                {{ detalleConceptoSegundoNivel }}
                {{ detalleNameSegundoNivel }}
                <span class="badge badge-dark">{{ detalleValueSegundoNivel | number:'1.2-2' }}</span>
              </li>
            </ol>
          </nav>

          <table class="table table-sm table-bordered table-fixed"
                 [ngClass]="{'table-without-scroll': detalleResultadosCuentasScroll}">
              <thead>
                <tr>
                  <th class="bg-orange text-white col-md-1">TIPOPOL</th>
                  <th class="bg-orange text-white col-md-1">CONSPOL</th>
                  <th class="bg-orange text-white col-md-2">NUMCTA</th>
                  <th class="bg-orange text-white col-md-6">CONCEPTO</th>
                  <th class="bg-orange text-white col-md-1">CARGO</th>
                  <th class="bg-orange text-white col-md-1">ABONO</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let drc of detalleResultadosCuentas'>
                  <td class="col-md-1">{{ drc.MOV_TIPOPOL }}</td>
                  <td class="col-md-1 text-center">{{ drc.MOV_CONSPOL }}</td>
                  <td class="col-md-2">{{ drc.MOV_NUMCTA }}</td>
                  <td class="col-md-6">{{ drc.MOV_CONCEPTO }}</td>
                  <td class="col-md-1 text-right">{{ drc.MOV_DEBE | number:'1.2-2' }}</td>
                  <td class="col-md-1 text-right">{{ drc.MOV_HABER | number:'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- END Detalle Segundo Nivel -->
      </div>
    </div>
  </div>
  <div *ngIf='showEfectivoSituacion' class="row">
    <div class="col-md-12 mt-2">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          FLUJO DE EFECTIVO REAL
        </div>
        <table class="table table-sm table-bordered table-responsive">
          <thead>
            <tr>
              <th class="bg-success text-white">Concepto</th>
              <th class="bg-success text-white">Ene</th>
              <th class="bg-success text-white">Feb</th>
              <th class="bg-success text-white">Mar</th>
              <th class="bg-success text-white">Abr</th>
              <th class="bg-success text-white">May</th>
              <th class="bg-success text-white">Jun</th>
              <th class="bg-success text-white">Jul</th>
              <th class="bg-success text-white">Ago</th>
              <th class="bg-success text-white">Sep</th>
              <th class="bg-success text-white">Oct</th>
              <th class="bg-success text-white">Nov</th>
              <th class="bg-success text-white">Dic</th>
              <th *ngIf="selectedTipoReporte === '5'" class="bg-success text-white">DicAñoAnt</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor='let es of efectivoSituacion; let i = index;'>
              <tr>
                <td class="">{{ es.Concepto }}</td>
                <td class="text-right">{{ es.Ene | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Feb | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Mar | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Abr | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.May | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Jun | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Jul | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Ago | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Sep | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Oct | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Nov | number:'1.2-2' }}</td>
                <td class="text-right">{{ es.Dic | number:'1.2-2' }}</td>
                <td *ngIf="selectedTipoReporte === '5'" class="text-right">{{ es.SaldoINI | number:'1.2-2' }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
