
<div *ngIf='idDepartamento != 742 && idDepartamento != 16' class="scrolltable">
  <table id="detalleUnidadesSeriesTable" class="table table-sm table-bordered table-responsive table-double-scroll"
  sortable-table (sorted)="onSorted($event, detalleUnidadesSeries)"> <!-- LAGP -->
    <thead>
      <tr>
        <th class="bg-secondary text-white">Modelo</th>
        <th class="bg-secondary text-white">Status</th>
        <th class="bg-secondary text-white">IdCliente</th>
        <th class="bg-secondary text-white min-width-220">Nombre</th>
        <th class="bg-secondary text-white">RFC</th>
        <th class="bg-secondary text-white min-width-220">Vendedor</th>
        <th class="bg-secondary text-white">Pedido</th>
        <th class="bg-secondary text-white">Factura</th>
        <th class="bg-secondary text-white" sortable-column='InventarioNumero'>#_Inventario</th>
        <th class="bg-secondary text-white">Serie</th>
        <th class="bg-secondary text-white" sortable-column='precioBase'>Precio_Base</th>
        <th class="bg-secondary text-white">Isan</th>
        <th class="bg-secondary text-white" sortable-column='ivaPorcentaje'>%_IVA</th>
        <th class="bg-secondary text-white" sortable-column='ivaImporte'>IVA</th>
        <th class="bg-secondary text-white" sortable-column='importeTotal'>Importe Total</th>
        <th class="bg-secondary text-white" sortable-column='costo'>Costo Compra</th>
        <th class="bg-secondary text-white" sortable-column='incentivo'>Incentivo</th>
        <th class="bg-secondary text-white" sortable-column='costoTotal'>Total Compra</th>
        <th class="bg-secondary text-white" sortable-column='utilidad'>Utilidad</th>
        <th class="bg-secondary text-white" sortable-column='cantidad'>Cantidad</th>
        <!-- <th>% Utilidad</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let dus of detalleUnidadesSeries'>
        <td>{{ dus.unidadYear }}</td>
        <td>{{ dus.estatus }}</td>
        <td>{{ dus.idCliente }}</td>
        <td>{{ dus.clienteRazonSocial }}</td>
        <td>{{ dus.clienteRFC }}</td>
        <td>{{ dus.vendedor }}</td>
        <td>{{ dus.pedido }}</td>
        <td>{{ dus.factura }}</td>
        <td>{{ dus.InventarioNumero }}</td>
        <td>{{ dus.serieNumero }}</td>
        <td class="text-right" [suma-columnas]='dus.precioBase'>{{ dus.precioBase | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.impuestoISAN'>{{ dus.impuestoISAN | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.ivaPorcentaje'>{{ dus.ivaPorcentaje | number:'1.0-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.ivaImporte'>{{ dus.ivaImporte | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.importeTotal'>{{ dus.importeTotal | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.costo'>{{ dus.costo | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.incentivo'>{{ dus.incentivo | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.costoTotal'>{{ dus.costoTotal | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.utilidad'>{{ dus.utilidad | number:'1.2-2' }}</td>
        <td class="text-right" [suma-columnas]='dus.cantidad'>{{ dus.cantidad | number:'1.0-2' }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf='idDepartamento == 742 || idDepartamento == 16' class="scrolltable">
  <div class="scrolltable">
    <table class="table table-sm table-bordered table-responsive table-double-scroll" id="idDetalleUnidadesTipo" sortable-table (sorted)="onSorted($event, detalleUnidadesTipo)">
      <thead>
        <tr>
          <th class="bg-secondary text-white">Factura</th>
          <th class="bg-secondary text-white">Fecha Factura</th>
          <th class="bg-secondary text-white">Status</th>
          <th class="bg-secondary text-white">Orden</th>
          <th class="bg-secondary text-white">FechaOrden</th>
          <th class="bg-secondary text-white min-width-120">TipoOrden</th>
          <th class="bg-secondary text-white min-width-130">Id Cliente Orden</th>
          <th class="bg-secondary text-white min-width-130">Id Cliente Factura</th>
          <th class="bg-secondary text-white min-width-220">Nombre</th>
          <th class="bg-secondary text-white min-width-120">RFC</th>
          <th class="bg-secondary text-white">QTYSurt</th>
          <th class="bg-secondary text-white">Tiempo</th>
          <th class="bg-secondary text-white">CostoMO</th>
          <th class="bg-secondary text-white">CostoRE</th>
          <th class="bg-secondary text-white">CostoTT</th>
          <th class="bg-secondary text-white">CostoOT</th>
          <th class="bg-secondary text-white">CostoTOT</th>
          <th class="bg-secondary text-white">VentaMO</th>
          <th class="bg-secondary text-white">VentaRE</th>
          <th class="bg-secondary text-white">VentaTT</th>
          <th class="bg-secondary text-white">VentaOT</th>
          <th class="bg-secondary text-white">VentaDescto</th>
          <th class="bg-secondary text-white">VentaSubtotal</th>
          <th class="bg-secondary text-white">VentaIVA</th>
          <th class="bg-secondary text-white">VentaTOT</th>
          <th class="bg-secondary text-white">Utilidad</th>
          <th class="bg-secondary text-white min-width-220">Asesor</th>
          <th class="bg-secondary text-white min-width-120">FechaPromesa</th>
          <th class="bg-secondary text-white min-width-120">MotivoCancel</th>
          <th class="bg-secondary text-white min-width-120">Catalogo</th>
          <th class="bg-secondary text-white min-width-120">Serie</th>
          <th class="bg-secondary text-white min-width-120">Marca</th>
          <th class="bg-secondary text-white">Año</th>
          <th class="bg-secondary text-white min-width-120">Modelo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let d of detalleUnidadesServicioHyP; let i = index;'>
          <td>{{ d.factura }}</td>
          <td>{{ d.fechaFactura }}</td>
          <td>{{ d.status }}</td>
          <td>{{ d.orden }}</td>
          <td>{{ d.fechaOrden }}</td>
          <td>{{ d.tipoOrden }}</td>
          <td>{{ d.idClienteOrden }}</td>
          <td>{{ d.idClienteFactura }}</td>
          <td>{{ d.nombre }}</td>
          <td>{{ d.rfc }}</td>
          <td>{{ d.qtySurt | number:'1.2-2' }}</td>
          <td>{{ d.tiempo }}</td>
          <td>{{ d.costoMO | number:'1.2-2' }}</td>
          <td>{{ d.costoRE | number:'1.2-2' }}</td>
          <td>{{ d.costoTT | number:'1.2-2' }}</td>
          <td>{{ d.costoOT | number:'1.2-2' }}</td>
          <td>{{ d.costoTOT | number:'1.2-2' }}</td>
          <td>{{ d.ventaMO | number:'1.2-2' }}</td>
          <td>{{ d.ventaRE | number:'1.2-2' }}</td>
          <td>{{ d.ventaTT | number:'1.2-2' }}</td>
          <td>{{ d.ventaOT | number:'1.2-2' }}</td>
          <td>{{ d.ventaDescto | number:'1.2-2' }}</td>
          <td>{{ d.ventaSubtotal | number:'1.2-2' }}</td>
          <td>{{ d.ventaIVA | number:'1.2-2' }}</td>
          <td>{{ d.ventaTOT | number:'1.2-2' }}</td>
          <td>{{ d.utilidad | number:'1.2-2' }}</td>
          <td>{{ d.asesor }}</td>
          <td>{{ d.fechaPromesa }}</td>
          <td>{{ d.motivoCancel }}</td>
          <td>{{ d.catalogo }}</td>
          <td>{{ d.serie }}</td>
          <td>{{ d.marca }}</td>
          <td>{{ d.anio }}</td>
          <td>{{ d.modelo }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>