<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <!--<ul class="list-group">
      <a [routerLink]="['/cuentas']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Catálogos' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Acciones' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Externos' | translate }}
      </a>
      <a [routerLink]="['/internos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Internos' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Dictamen' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Inventarios' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Reprocesar' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'ER Planta' | translate }}
      </a>
      <a [routerLink]="['/']" [routerLinkActive]="" class="list-group-item">
            <i class="fa fa-cog"></i>&nbsp;{{ 'Ajustes' | translate }}
      </a>-->


        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Boostrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Boostrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp; {{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'Submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->

    <!--</ul>-->
    <ul class="list-group" *ngFor="let menu of menu">
        <div class="nested-menu">
            <a *ngIf="menu.submenu.length" class="list-group-item" (click)="addExpandClass(menu.showMenu, menu.url)">
                <span>
                    <i [class]="menu.icono"></i> {{ menu.titulo | translate }}
                </span>
            </a>
            <a *ngIf="!menu.submenu.length" [routerLink]="[ menu.url ]" class="list-group-item" (click)="addExpandClass(menu.showMenu, menu.url)">
                    <span>
                        <i [class]="menu.icono"></i> {{ menu.titulo | translate }}
                    </span>
            </a>
            <li *ngIf="menu.submenu.length" class="nested" [class.expand]="showMenu === menu.showMenu">
                <ul class="submenu">
                    <li *ngFor="let submenu of menu.submenu">
                        <a [routerLink]="[ submenu.url ]">
                            <span><i [class]="menu.icono"></i> {{ submenu.titulo | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    </ul>
</nav>
